<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group9_MAPD711_Project"
        tools:targetApi="31">
        <activity
            android:name=".NormalAddNewAddressActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerViewMyAddressesListActivity"
            android:launchMode="singleTop"
            android:exported="false" />
        <activity
            android:name=".UpdateCustomerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerViewAllOrdersActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".CustomerProfileViewActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".AddDeliveryAddressActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerViewSingleOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmOrderAddressActivity"
            android:exported="false" />
        <activity
            android:name=".BuildPizzaOrderActivity"
            android:exported="false" />
        <activity
            android:name=".CitySelectorActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />

        <activity
            android:name=".PizzaRestaurantsMapActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".PizzaTypeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>